.div{
    height: 1200px;
    width: 1200px;
    background-color: #b99ccf;
}

@media screen and (max-width: 1200px) {
    body{
        background-color: red;
    }

}

@media screen and (min-width: 550px) and (max-width: 650px) {
    body{
        background-color: green;
    }

}

@media screen and (min-width: 1000px) {
    body{
        background-color: blue;
    }

}